/* center meme and add background color */
.meme {
  align-items: center;
  /* margin-top: 75px; */
  background-color:#3F51B5;
  /* padding: 200px; */
}

/* set page background color */
.page {
  background-color:#3F51B5;
}

/* .container-fluid {
  background-color:#3F51B5;
  padding-bottom: 100px;
} */

/* set background color for form */
.form {
  background-color: #3F51B5;
  padding-bottom: 10000px;
} 
/* move the delete button over to allow space between button and meme */
.btn {
  margin-left: 10px;
}

/* style the input boxed and add space between, center placeholder text */
.toptext {
  border-radius: 10px;
  text-align:center;
  margin-bottom: 10px;
  margin-top: 10px;
  align-items: center;
}

.bottomtext {
  border-radius: 10px;
  text-align: center;
  margin-bottom: 10px;
}

/* change header font */
h1 {
  font-family:cursive;
}


